<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/headInner.ejs') %>
  </head>

  <body>
    <header class="main-header">
      <%- include('./includes/navigation.ejs') %>
    </header>
    <h1>Page Not Found!</h1>
  </body>
</html>
